<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Chatland</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Chatland</h1>
  <div class="navigation">
  {% if g.user %}
    {% if g.user.current_room_id != -1 %}
      <a href="{{ url_for('index') }}">leave room</a> |
    {% else %}
      <a href="{{ url_for('index') }}">home</a> |
    {% endif%}
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>   
  {% else %}
    <a href="{{ url_for('index') }}">home</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    Chatland &mdash; A Flask Application
  </div>
  {% block js %}{% endblock %}
</div>
